.container1{
    animation: gradient 3s ease infinite;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(45deg,#010A26,#731F35);
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 4fr 2fr;
    grid-template-columns: 3fr 3fr 3fr ;
}
#header{
    grid-row: 1/2;
    grid-column: 1/4;
    /*background-color:#010A26;*/
    padding: 10px;
}
#titulo{
    grid-row: 3/4;
    grid-column: 1/4;
    padding: 20px;
}
#paragrafo{
    grid-row: 4/5;
    grid-column: 2/3;
}
#slides{
    grid-row: 5/6;
    grid-column: 1/4;
    padding: 30px;
}
.sombra{
    text-shadow: black 0.1em 0.1em 0.2em
}
.sombraimg{
    filter: brightness(20%);
    transition: ease 0.5s;
}
.sombraimg:hover{
    filter: brightness(60%);
}
