.musical{
    width: 100vw;
    height: 100vh;
    background-color: #27003D;
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
}
#header{
    grid-row: 1/2;
    grid-column: 1/6;
    padding: 10px;
}
#titulomusical{
    grid-row: 2/3;
    grid-column: 2/3;
}
#paragrafomusical{
    grid-row: 3/4;
    grid-column: 2/5;
}
#recomendacoesmusical{
    grid-row: 4/5;
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}
#r1musical{
    grid-column: 1/2;
}
#r2musical{
    grid-column: 2/3;
}
#r3musical{
    grid-column: 3/4;
}