.maioresbilheterias{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(45deg,black,red);
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 4fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
}
#header{
    grid-row: 1/2;
    grid-column: 1/6;
    padding: 10px;
}
#titulomb{
    grid-row: 2/3;
    grid-column: 2/5;
}
#paragrafomb{
    grid-row: 3/4;
    grid-column: 2/5;
}
#table{
    grid-row: 4/5;
    grid-column: 3/4;
}